#* @vtlvariable name="action" type="com.atlassian.confluence.spaces.actions.EditSpaceEntryAction" *#
#requireResource("confluence.web.resources:space-admin")

<html>
<head>
    <title>HipChat Configuration</title>
    <meta name="decorator" content="atl.general"/>
</head>
    #applyDecorator("root")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("context" "space-administration")
    #decoratorParam("mode" "view-space-administration")

    #applyDecorator ("root")
    #decoratorParam ("context" "spaceadminpanel")
    #decoratorParam ("selection" "hipchat-space-configuration")
    #decoratorParam ("title" "HipChat Configuration")
    #decoratorParam ("selectedTab" "admin")
    #decoratorParam("helper" $action.helper)

<body>
<form class="aui">
    <h2>HipChat Configuration</h2>

    <div class="aui-message error shadowed">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>Your HipChat Auth Token is missing.</strong>
        </p>

        <p>
            Before you can link this space to HipChat, you need to create an <b>Admin</b>
            <a href="https://hipchat.com/admin/api" title="HipChat API Tokens" target="_blank">HipChat API Auth
                Token</a>
            then register that token in the <a href="../admin/hipchat.action?spaceKey=$!key">Confluence HipChat Configuration page</a>.
        </p>
    </div>
    <!-- .aui-message -->
</form>

</body>
</html>
#end
#end